<section class="auth-page">

  <div class="auth-container">

    <!-- LEFT SIDE -->
    <div class="auth-panel">

      <div class="logo">
        <i class="fa fa-compact-disc"></i>
        <span>MMAD Music</span>
      </div>


      <div class="form-container">


        @if(isLoginView) {

        <!-- LOGIN FORM -->
        <form>

          <h3>Welcome Back</h3>
          <p class="subtitle">
            Log in to continue discovering music.
          </p>


          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>


          <div class="input-group">

            <label>Username</label>

            <input name="username" [(ngModel)]="loginObj.username" type="username" />

          </div>


          <div class="input-group">

            <label>Password</label>

            <input name="password" [(ngModel)]="loginObj.password" type="password" />

          </div>


          <button type="button" (click)="onLogin()">

            Login

          </button>


          <p class="switch-text">
            Don't have an account?
            <a (click)="switchView(false)">
              Register here
            </a>
          </p>


        </form>

        }


        @else {


        <!-- REGISTER FORM -->
        <form>

          <h3>Create Account</h3>

          <p class="subtitle">
            Join the music conversation.
          </p>


          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>


          <div class="input-group">

            <label>Username</label>

            <input name="username" [(ngModel)]="registerObj.username" type="username" />

          </div>


          <div class="input-group">

            <label>Password</label>

            <input name="password" [(ngModel)]="registerObj.password" type="password" />

          </div>


          <button type="button" (click)="onRegister()">

            Register

          </button>


          <p class="switch-text">
            Already have an account?
            <a (click)="switchView(true)">
              Login here
            </a>
          </p>


        </form>

        }


      </div>

    </div>


    <!-- RIGHT SIDE -->
    <div class="image-panel">

      <img src="https://images.unsplash.com/photo-1526394931762-90052e97b376?q=80&w=1974&auto=format&fit=crop"
        alt="Music" />

      <div class="overlay"></div>


      <div class="quote">

        <h1>
          Music is meant
          <br>
          to be shared.
        </h1>

        <p>
          Discover albums. Share opinions.
          Connect through sound.
        </p>

      </div>


    </div>


  </div>

</section>