.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

.error-message {
  color: red;
  font-size: 0.875rem; /* Smaller font size */
  margin-bottom: 1rem; /* Margin below the error message */
}