<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-xl-4">
            <i class="fas fa-compact-disc fa-2x me-3 pt-5 mt-xl-4" style="color: #000000;"></i>
            <span class="h1 fw-bold mb-0">MMAD Music</span>
          </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

            

            @if(isLoginView) {
                <!-- LOGIN FORM -->
                <form style="width: 23rem;">
  
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="errorMessage" class="error-message">
                      {{ errorMessage }}
                    </div>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input name="username" [(ngModel)]="loginObj.username" type="username" id="form2Example18" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example18">Username</label>
                    </div>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input name="password" [(ngModel)]="loginObj.password" type="password" id="form2Example28" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example28">Password</label>
                    </div>
        
                    <div class="pt-1 mb-4">
                      <!-- LOGIN BUTTON -->
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" (click)="onLogin()" type="button">Login</button>
                    </div>
        
                    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                    <p>Don't have an account? <a class="link-info" (click)="switchView(false)" >Register here</a></p>
        
                  </form>

            } 
            @else {
                <!-- REGISTER FORM -->
                <form style="width: 23rem;">
  
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3>

                    <!-- ERROR MESSAGE -->
                    <div *ngIf="errorMessage" class="error-message">
                      {{ errorMessage }}
                    </div>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input name="username" [(ngModel)]="registerObj.username" type="username" id="form2Example18" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example18">Username</label>
                    </div>
        
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input name="password" [(ngModel)]="registerObj.password" type="password" id="form2Example28" class="form-control form-control-lg" />
                      <label class="form-label" for="form2Example28">Password</label>
                    </div>
        
                    <div class="pt-1 mb-4">
                      <!-- REGISTER BUTTON -->
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" (click)="onRegister()" type="button">Register</button>
                    </div>
        
                    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                    <p>Already have an account? <a class="link-info" (click)="switchView(true)" >Login here</a></p>
        
                  </form>

            }
  
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="https://images.unsplash.com/photo-1526394931762-90052e97b376?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>

