<div class="profile-header" *ngIf="user as u">

  <div class="profile-info">

    <img class="profile-picture" [src]="u.profilePicUrl" alt="Profile picture" />

    <h2 class="username">
      {{ u.username }}
    </h2>


    <div class="stats">

      <span>
        Reviews:
        <strong>{{ reviews?.length || 0 }}</strong>
      </span>


      <span class="divider">|</span>


      <button mat-button (click)="openUserList('Followers', u.followers || [])">

        Followers:
        <strong>{{ u.followers?.length || 0 }}</strong>

      </button>


      <span class="divider">|</span>


      <button mat-button (click)="openUserList('Following', u.following || [])">

        Following:
        <strong>{{ u.following?.length || 0 }}</strong>

      </button>


      <ng-container *ngIf="currentUser && currentUser.username !== u.username">

        <span class="divider">|</span>


        <button mat-button *ngIf="!isFollowing" (click)="follow()">
          Follow
        </button>


        <button mat-button *ngIf="isFollowing" (click)="unfollow()">
          Unfollow
        </button>

      </ng-container>


    </div>

  </div>

</div>


<app-review-viewer [reviews]="reviews ?? []" [isLoading]="isLoading" [cardComponent]="cardComponent"
  [errorMessage]="errorMessage" (refresh)="user && loadReviews(user.username)">
</app-review-viewer>