<section class="auth-page">

    <div class="auth-container">


        <!-- LEFT SIDE -->
        <div class="auth-panel">


            <div class="logo">

                <i class="fa fa-compact-disc"></i>

                <span>
                    MMAD Music
                </span>

            </div>



            <div class="form-container">


                <form>


                    <h3>
                        Reset Password
                    </h3>


                    <p class="subtitle">
                        Enter your verification code and create a new password.
                    </p>



                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>



                    <div *ngIf="successMessage" class="success-message">
                        {{ successMessage }}
                    </div>

                    <div *ngIf="resendMessage" class="success-message">
                        {{ resendMessage }}
                    </div>



                    <div class="input-group">

                        <label>
                            Email
                        </label>


                        <input name="email" [(ngModel)]="email" type="email" readonly />

                    </div>




                    <div class="input-group">

                        <label>
                            Reset Code
                        </label>


                        <input name="code" [(ngModel)]="code" type="text" required />

                    </div>




                    <div class="input-group">

                        <label>
                            New Password
                        </label>


                        <div class="password-wrapper">

                            <input name="newPassword" [(ngModel)]="newPassword"
                                [type]="showNewPassword ? 'text' : 'password'" required />


                            <button type="button" class="eye-button" (click)="showNewPassword = !showNewPassword">


                                <i class="fa" [class.fa-eye]="!showNewPassword" [class.fa-eye-slash]="showNewPassword">
                                </i>


                            </button>


                        </div>


                    </div>

                    <div class="input-group">

                        <label>
                            Confirm Password
                        </label>


                        <div class="password-wrapper">


                            <input name="confirmPassword" [(ngModel)]="confirmPassword"
                                [type]="showConfirmPassword ? 'text' : 'password'" required />



                            <button type="button" class="eye-button"
                                (click)="showConfirmPassword = !showConfirmPassword">


                                <i class="fa" [class.fa-eye]="!showConfirmPassword"
                                    [class.fa-eye-slash]="showConfirmPassword">
                                </i>


                            </button>


                        </div>


                    </div>




                    <button type="button" (click)="resetPassword()">

                        Reset Password

                    </button>

                    <p class="switch-text">

                        Didn't receive the code?

                        <a *ngIf="!resendDisabled" (click)="resendCode()">

                            Resend code

                        </a>

                        <span *ngIf="resendDisabled">

                            Resend available in
                            {{ resendCooldown }}s

                        </span>

                    </p>




                    <p class="switch-text">

                        Remember your password?

                        <a (click)="goToLogin()">
                            Login here
                        </a>

                    </p>



                </form>


            </div>


        </div>



        <!-- RIGHT SIDE -->
        <div class="image-panel">


            <img src="https://images.unsplash.com/photo-1511379938547-c1f69419868d?q=80&w=1974&auto=format&fit=crop"
                alt="Music" />


            <div class="overlay"></div>



            <div class="quote">

                <h1>
                    Secure your
                    <br>
                    account.
                </h1>


                <p>
                    Choose a new password and keep listening.
                </p>


            </div>



        </div>


    </div>


</section>