<!-- SEARCH BAR -->
<div class="search-bar">
  <input type="text" [value]="searchQuery" (input)="onSearchInput($event)" placeholder="Search..." />

  <button type="button" class="clear-btn" (click)="searchQuery = ''" aria-label="Clear search input">
    ×
  </button>
</div>

<!-- RESULTS -->
<div *ngIf="results.length > 0">



  <div class="item-list">

    <ng-container *ngFor="let item of displayedItems">

      <div (click)="selectItem(item)">

        <!-- ARTIST -->
        <app-artist *ngIf="item.type === 'artist'" [item]="item">
        </app-artist>

        <!-- ALBUM -->
        <app-album *ngIf="item.type === 'album'" [item]="item">
        </app-album>

        <!-- USER (TEMP: reuse artist component) -->
        <app-artist *ngIf="item.type === 'user'" [item]="item">
        </app-artist>

      </div>

    </ng-container>

  </div>



  <!-- PAGINATION -->
  <div class="pagination-controls">

    <button type="button" (click)="prevPage()" [disabled]="currentPage === 1">
      Previous
    </button>

    <span>
      Page {{ currentPage }} of {{ getTotalPages() }}
    </span>

    <button type="button" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= results.length">
      Next
    </button>

  </div>

</div>
