<!-- SEARCH BAR -->
<div class="search-bar">
  <input type="text" [value]="searchQuery" (input)="onSearchInput($event)" placeholder="Search artists..." />

  <button type="button" class="clear-btn" (click)="searchQuery = ''" aria-label="Clear search input">
    ×
  </button>
</div>

<!-- RESULTS -->
<div *ngIf="results.length > 0; else noResults">

  <div class="item-list">

    <ng-container *ngFor="let item of displayedItems">
      <app-artist [item]="item" (click)="selectItem(item)"></app-artist>
    </ng-container>

  </div>

  <!-- PAGINATION -->
  <div class="pagination-controls">

    <button type="button" (click)="prevPage()" [disabled]="currentPage === 1">
      Previous
    </button>

    <span>
      Page {{ currentPage }} of {{ getTotalPages() }}
    </span>

    <button type="button" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= results.length">
      Next
    </button>

  </div>

</div>

<!-- NO RESULTS -->
<ng-template #noResults>
  <div>
    No artists found.
  </div>
</ng-template>