<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="item-card" (click)="onItemClick()">

  <div class="image-container">
    <img [src]="item?.imageURL || 'assets/default-avatar.png'" [alt]="item?.name || 'Item Image'" class="item-image" />
  </div>

  <!-- Item Name -->
  <h1 class="item-name">
    {{ item?.name }}
  </h1>

  <!-- Social Media Links -->
  <div class="social-links">
    <a href="#" class="spotify-button" (click)="onSpotifyClick(); $event.preventDefault(); $event.stopPropagation()">

      <i class="fa fa-spotify"></i>

    </a>
  </div>

</div>