<div class="review" *ngIf="review">

  <!-- ARTIST -->
  <div *ngIf="review.item as a" class="review-row artist">

    <!-- IMAGE -->
    <div class="review-image">
      <img [src]="a.imageURL" alt="{{ a.name }}" />
    </div>

    <div class="review-body">

      <div class="body-top">
        <h1 class="artist-name">{{ a.name }}</h1>
        <h2 class="username">{{ review.user.username }}</h2>
      </div>

      <span class="stars">
        <span *ngFor="let _ of stars">⭐</span>
      </span>

      <div class="body-middle">
        <div class="description">
          {{ review.description }}
        </div>
      </div>

    </div>

  </div>

</div>