<div class="review" *ngIf="review">

  <div *ngIf="review.item as item" class="review-row">

    <!-- IMAGE -->
    <div *ngIf="review.item as item" class="review-image">

      <!-- IMAGE -->
      <div class="review-image">

        <img [src]="item.imageURL" [alt]="item.name" [class.circle]="item.type === 'artist'"
          [class.square]="item.type === 'album'" />

      </div>

    </div>

    <div class="review-body">

      <div class="body-top">
        <h1 class="item-name">{{ item.name }}</h1>
        <h2 class="username">{{ review.user.username }}</h2>
      </div>

      <span class="stars">
        <span *ngFor="let _ of stars">⭐</span>
      </span>

      <div class="body-middle">
        <div class="description">
          {{ review.description }}
        </div>
      </div>

    </div>

  </div>

</div>