<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="item-card">
  <!-- Clickable image -->
  <img
    [src]="item?.getImageURL()"
    alt="Image"
    style="width: 100%; cursor: pointer"
    (click)="onImageClick()"
  />

  <!-- Item name -->
  <h1>{{ item?.getName() }}</h1>

<!-- Assign artists to a local template variable -->
<ng-container *ngIf="item?.getArtists() as artists">
    <p *ngIf="artists.length > 0">
      <strong>By:</strong>
      <span *ngFor="let artist of artists; let last = last">
        {{ artist.getName() }}<span *ngIf="!last">, </span>
      </span>
    </p>
  </ng-container>
  

  <!-- Spotify and Apple links -->
  <a href="#" (click)="onSpotifyClick()"><i class="fa fa-spotify"></i></a>
  <a href="#"><i class="fa fa-apple"></i></a>

  <!-- Review button appears on image click -->
  <ng-container *ngIf="showReviewButton">
    <button (click)="writeReview()">Write a Review</button>
  </ng-container>

  <app-review-builder
    *ngIf="showReviewInput"
    [item]="item"
    (submitted)="onReviewSubmitted($event)"
    (cancel)="onReviewCancelled()"
  >
  </app-review-builder>
</div>
