<section class="auth-page">

  <div class="auth-container">


    <!-- LEFT SIDE -->
    <div class="auth-panel">


      <div class="logo">

        <i class="fa fa-compact-disc"></i>

        <span>
          MMAD Music
        </span>

      </div>



      <div class="form-container">


        @if(isLoginView) {


        <!-- LOGIN FORM -->

        <form>


          <h3>
            Welcome Back
          </h3>


          <p class="subtitle">
            Log in to continue discovering music.
          </p>



          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>



          <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>



          <div class="input-group">


            <label>
              Username
            </label>


            <input name="username" [(ngModel)]="loginObj.username" type="text" required />


          </div>




          <div class="input-group">


            <label>
              Password
            </label>



            <div class="password-wrapper">


              <input name="password" [(ngModel)]="loginObj.password" [type]="showLoginPassword ? 'text' : 'password'"
                required />



              <button type="button" class="eye-button" (click)="showLoginPassword = !showLoginPassword">


                <i class="fa" [class.fa-eye]="!showLoginPassword" [class.fa-eye-slash]="showLoginPassword">
                </i>


              </button>


            </div>


          </div>





          <button type="button" (click)="onLogin()">


            Login


          </button>





          <p class="switch-text">


            <a (click)="goToForgotPassword()">

              Forgot password?

            </a>


          </p>





          <p class="switch-text">


            Don't have an account?


            <a (click)="switchView(false)">

              Register here

            </a>


          </p>



        </form>


        }



        @else {



        <!-- REGISTER FORM -->


        <form>



          <h3>
            Create Account
          </h3>



          <p class="subtitle">
            Join the music conversation.
          </p>




          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>



          <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
          </div>





          <div class="input-group">


            <label>
              Email
            </label>


            <input name="email" [(ngModel)]="registerObj.email" type="email" required />


          </div>





          <div class="input-group">


            <label>
              Username
            </label>


            <input name="username" [(ngModel)]="registerObj.username" type="text" required />


          </div>





          <div class="input-group">


            <label>
              Password
            </label>



            <div class="password-wrapper">


              <input name="password" [(ngModel)]="registerObj.password"
                [type]="showRegisterPassword ? 'text' : 'password'" required />



              <button type="button" class="eye-button" (click)="showRegisterPassword = !showRegisterPassword">


                <i class="fa" [class.fa-eye]="!showRegisterPassword" [class.fa-eye-slash]="showRegisterPassword">
                </i>


              </button>


            </div>


          </div>







          <div class="input-group">


            <label>
              Confirm Password
            </label>



            <div class="password-wrapper">


              <input name="confirmPassword" [(ngModel)]="registerObj.confirmPassword"
                [type]="showConfirmPassword ? 'text' : 'password'" required />



              <button type="button" class="eye-button" (click)="showConfirmPassword = !showConfirmPassword">


                <i class="fa" [class.fa-eye]="!showConfirmPassword" [class.fa-eye-slash]="showConfirmPassword">
                </i>


              </button>


            </div>


          </div>







          <button type="button" (click)="onRegister()">


            Register


          </button>







          <p class="switch-text">


            Already have an account?



            <a (click)="switchView(true)">

              Login here

            </a>


          </p>




        </form>


        }


      </div>


    </div>





    <!-- RIGHT SIDE -->

    <div class="image-panel">


      <img src="https://images.unsplash.com/photo-1526394931762-90052e97b376?q=80&w=1974&auto=format&fit=crop"
        alt="Music" />



      <div class="overlay"></div>





      <div class="quote">


        <h1>

          Music is meant

          <br>

          to be shared.

        </h1>




        <p>

          Discover albums. Share opinions.

          Connect through sound.

        </p>



      </div>




    </div>




  </div>


</section>