<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="item-card">
  <div class="image-container">
    <img
      [src]="item?.getImageURL()"
      [alt]="item?.getName() || 'Item Image'"
      class="item-image"
      (click)="onImageClick()"
    />
  </div>

  <!-- Item Name -->
  <h1 class="item-name">{{ item?.getName() }}</h1>

  <!-- Social Media Links -->
  <div class="social-links">
    <a href="#" (click)="onSpotifyClick()" class="spotify-button">
      <i class="fa fa-spotify"></i>
    </a>
  </div>

  <!-- Review Button -->
  <ng-container *ngIf="showReviewButton">
    <div class="review-button-container">
      <button (click)="writeReview()" class="review-button">
        Write a Review
      </button>
    </div>
  </ng-container>

  <!-- Review Builder Component -->
  <app-review-builder
    *ngIf="showReviewInput"
    [item]="item"
    (submitted)="onReviewSubmitted($event)"
    (cancel)="onReviewCancelled()"
  ></app-review-builder>
</div>
