<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="item-card">
  <div class="image-container">
    <img
      [src]="item?.imageURL"
      [alt]="item?.name || 'Item Image'"
      class="item-image"
    />
  </div>

  <!-- Item Name -->
  <h1 class="item-name">{{ item?.name }}</h1>

  <!-- Social Media Links -->
  <div class="social-links">
    <a href="#" (click)="onSpotifyClick()" class="spotify-button">
      <i class="fa fa-spotify"></i>
    </a>
  </div>
</div>
