<div class="profile-header" *ngIf="currentUser as user">

  <h2 class="username">
    {{ user.username }}
  </h2>

  <div class="stats">

    <span>
      Reviews:
      <strong>{{ reviews?.length || 0 }}</strong>
    </span>

    <span class="divider">|</span>

    <button mat-button (click)="openUserList('Followers', user.followers || [])">
      Followers:
      <strong>{{ user.followers?.length || 0 }}</strong>
    </button>

    <span class="divider">|</span>

    <button mat-button (click)="openUserList('Following', user.following || [])">
      Following:
      <strong>{{ user.following?.length || 0 }}</strong>
    </button>

  </div>

</div>


<app-review-viewer [reviews]="reviews ?? []" [isLoading]="isLoading" [cardComponent]="cardComponent"
  [errorMessage]="errorMessage" (refresh)="currentUser && loadMyReviews(currentUser.username)">
</app-review-viewer>

<button class="logout-btn" (click)="logout()">
  Logout
</button>