<div class="page-layout">

  <!-- LEFT SIDE -->
  <section class="main">

    <div *ngIf="item" class="item-header">

      <img [src]="item.imageURL" [alt]="item.name" class="item-image">

      <div class="item-info">

        <h1>{{ item.name }}</h1>
        <h2>{{ item.type }}</h2>

        <button class="review-btn" (click)="openReviewModal()">
          Write a Review
        </button>

      </div>

    </div>

    <!-- REVIEWS -->
    <app-review-viewer [reviews]="reviews" [cardComponent]="cardComponent" [isLoading]="isLoading"
      [errorMessage]="errorMessage">
    </app-review-viewer>

  </section>

  <section class="side">


    <!-- ARTIST PAGE -->
    <div *ngIf="isArtist" class="side-box">

      <h3>Albums</h3>

      <div *ngIf="albums.length; else noAlbums" class="album-list">

        <app-album *ngFor="let album of albums" [item]="album">
        </app-album>

      </div>

      <ng-template #noAlbums>
        <p>No albums found.</p>
      </ng-template>

    </div>



    <!-- ALBUM PAGE -->
    <div *ngIf="isAlbum" class="side-box">

      <h3>Tracks</h3>


      <div *ngIf="songs.length; else noTracks" class="track-list">

        <app-album-songs *ngFor="let song of songs; let i = index" [song]="song" [trackNumber]="i + 1">
        </app-album-songs>

      </div>

      <ng-template #noTracks>

        <p>No tracks found.</p>

      </ng-template>


    </div>



    <!-- SONG PAGE -->
    <div *ngIf="isSong" class="side-box">

      <h3>Album</h3>


      <ng-container *ngIf="song as currentSong">

        <app-album *ngIf="currentSong.album" [item]="currentSong.album">
        </app-album>


        <p *ngIf="!currentSong.album">
          No album found.
        </p>

      </ng-container>


    </div>


  </section>
</div>